$font-family: 'Urbanist', sans-serif;
$font-thin: 300;
$font-bold: 600;
$font-thick: 800;

$color-main1: #3a3a3a;
$color-main2: #413e47;
$color-main3: #373138;
$color-main4: #3f363c;
$color-complementary1: #bbb471;
$color-complementary2: #b9925f;
