/* base */
body {
  font-family: "Urbanist", sans-serif;
  color: #bbb471;
  background-color: #3a3a3a;
  margin: 0; }

/* components */
svg {
  transform: rotate(90deg) scale(2.5);
  filter: invert(100%);
  position: fixed;
  top: 42px;
  right: 43px; }

.home-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  animation: moveHome 1.5s ease-in-out forwards;
  animation-delay: 0s; }

@keyframes moveHome {
  100% {
    top: -100vh; } }

.home-top {
  height: 100vh;
  filter: brightness(0.8) opacity(0.7); }

.home-bottom {
  position: relative;
  width: 100%; }

/* layout */
