/* base */
body {
  font-family: "Urbanist", sans-serif;
  color: #bbb471;
  background-color: #3a3a3a;
  margin: 0; }

/* components */
header {
  left: 0;
  padding: 0.5rem;
  position: fixed;
  text-align: right;
  top: 0;
  transition: transform 0.6s;
  width: 100%;
  z-index: 4; }
  header .nav-button {
    position: fixed;
    top: 42px;
    right: 43px;
    transform: rotate(90deg) scale(2.5);
    filter: invert(100%);
    cursor: pointer; }

.nav-wrapper {
  background-color: #fff;
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0, 0.75);
  height: 100%;
  perspective: 1000px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.6s, visibility 0.6s;
  visibility: hidden;
  width: Max(500px, 40%);
  max-width: 100%;
  z-index: 2; }
  .nav-visible .nav-wrapper {
    transform: translateX(0);
    visibility: visible; }

.nav {
  position: relative;
  list-style: none; }
  .nav li {
    position: relative;
    height: 138px;
    border-bottom: 10px solid black;
    background: linear-gradient(to left, #b5b5b5, #ffffff);
    background-size: 20% 100%;
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
    background-size: 20% 100%;
    transition: background-size 0.3s ease; }
    .nav li .sharps {
      width: 340px;
      height: 75px;
      background: black;
      position: absolute;
      top: 95px;
      right: 0;
      z-index: 1;
      cursor: pointer;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.6); }
      .nav li .sharps-top {
        top: 88px; }
      .nav li .sharps-bottom {
        top: 102px; }
    .nav li:active {
      background-size: 100% 100% !important; }
    .nav li a {
      display: flex;
      align-items: center;
      color: black;
      line-height: 1.4;
      padding: 0 1.5em;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 24px; }

.nav-veil {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3); }
  .nav-visible .nav-veil {
    visibility: visible; }

.home-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  animation: moveHome 1.5s ease-in-out forwards;
  animation-delay: 0s; }

@keyframes moveHome {
  100% {
    top: -100vh; } }

.home-top {
  height: 100vh;
  object-position: 75% center;
  filter: brightness(0.8) opacity(0.7); }

.home-bottom {
  position: relative;
  width: 100%; }

/* layout */
/* reset */
/* Reset margins and paddings for all tags */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

*::before, *::after {
  display: block; }

/* Prevent issues with images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center; }

/* Reset links to function as boxes... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... except those inside paragraphs */
p a {
  display: inline; }

/* Remove bullets from <li> elements */
li {
  list-style-type: none; }

/* Configure smooth anchor scrolling */
html {
  scroll-behavior: smooth; }

/* Disable default styles for main text tags */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit; }

/* Prevent issues with pseudo-elements for quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* Configure selected text */
::selection {
  background-color: #3a3a3a;
  color: #fff; }

/* Address typography and form element placement issues */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none; }

/* Reset table styles */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* Prevent issues with SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor; }

/* Configure typography for the entire website */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Urbanist", sans-serif;
  color: #3a3a3a;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
