.home {
    &-body {
        display: flex;
        flex-direction: column;
        margin: 0;
        overflow: hidden;
        
        position: relative;
        top: 0;
        animation: moveHome 1.5s ease-in-out forwards;
        animation-delay: 0s;
    }

    @keyframes moveHome { 100% { top: -100vh; } }

    &-top {
        height: 100vh;
        object-position: 75% center;
        filter: brightness(0.8) opacity(0.7);
    }

    &-bottom {
        position: relative;
        width: 100%;
    }
}